* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  border : 2px solid black;
  
}

.nav_items > ul {
  display: flex;
  list-style-type: none;
  padding : 0px 4rem;
  margin : 1rem;
}

li {
  padding : 0.8rem;
  margin : 0.4rem;
}

.logo img {
  height : 100px;
  width : 100px;
}
.res-cards{
  height : 100px;
  width : 100px;
  border : 2px solid black;
}
.search {
  padding : 1rem;
  height :1rem;
  width : 20rem;
  border : 2px solid black;
}
.restaurant-cards {
  /* height : 20rem; */
  width : 13rem;
  border : 4px solid black;
  box-shadow: 2px 2px 16px black;
  margin : 1rem;
}
.restaurant-cards img {
  height : 12rem;
  width : 90%;
}

.res-container {
  display: flex; 
  margin : 1rem;
  padding : 0.5rem;
}

.filter-btn {
  margin : 1rem;
  cursor: pointer;
}